<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; padding: 16px;">
    <p>Aquí comienza todo</p>
    <h2>¡Bienvenido!</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" maxlength="4"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
    </form>

    <ion-text>
      <a href="#">Crea tu cuenta gratis</a>
    </ion-text>

  </div>"

</ion-content>
